# Python
*.py[cod]
__pycache__/
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
media/
static/
staticfiles/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment / Secrets
*.env
